In [1]:
import pandas as pd

In [2]:
aapl_df = pd.read_csv('./data/aapl5yr.csv')
aapl_trim = aapl_df.iloc[:-691]
aapl_2yr = aapl_trim.iloc[66:]
aapl_2yr.reset_index(drop=True, inplace=True)
aapl_2yr

           Date Close/Last     Volume     Open     High       Low
0    12/29/2023    $192.53   42672150  $193.90  $194.40  $191.725
1    12/28/2023    $193.58   34049900  $194.14  $194.66   $193.17
2    12/27/2023    $193.15   48087680  $192.49  $193.50   $191.09
3    12/26/2023    $193.05   28919310  $193.61  $193.89   $192.83
4    12/22/2023    $193.60   37149570  $195.18  $195.41   $192.97
..          ...        ...        ...      ...      ...       ...
496  01/07/2022    $172.17   86709150  $172.89  $174.14   $171.03
497  01/06/2022    $172.00   96903960  $172.70  $175.30   $171.64
498  01/05/2022    $174.92   94537600  $179.61  $180.17   $174.64
499  01/04/2022    $179.70   99310440  $182.63  $182.94   $179.12
500  01/03/2022    $182.01  104701200  $177.83  $182.88   $177.71

[501 rows x 6 columns]

In [3]:
msft_df = pd.read_csv('./data/msft5yr.csv')
msft_trim = msft_df.iloc[:-691]
msft_2yr = msft_trim.iloc[66:]
msft_2yr.reset_index(drop=True,inplace=True)
msft_2yr

           Date Close/Last    Volume     Open      High        Low
0    12/29/2023    $376.04  18730840  $376.00   $377.16    $373.48
1    12/28/2023    $375.28  14327010  $375.37  $376.458    $374.16
2    12/27/2023    $374.07  14905410  $373.69   $375.06  $372.8116
3    12/26/2023    $374.66  12673050  $375.00   $376.94    $373.50
4    12/22/2023    $374.58  17107480  $373.68   $375.18    $372.71
..          ...        ...       ...      ...       ...        ...
496  01/07/2022    $314.04  32720020  $314.15   $316.50    $310.09
497  01/06/2022    $313.88  39646150  $313.15   $318.70    $311.49
498  01/05/2022    $316.38  40054330  $325.86   $326.07    $315.98
499  01/04/2022    $329.01  32674310  $334.83   $335.20    $326.12
500  01/03/2022    $334.75  28918010  $335.35   $338.00    $329.78

[501 rows x 6 columns]

In [4]:
meta_df = pd.read_csv('./data/meta5yr.csv')
meta_trim = meta_df.iloc[:-691]
meta_2yr = meta_trim.iloc[66:]
meta_2yr.reset_index(drop=True, inplace=True)
meta_2yr

           Date Close/Last    Volume      Open       High        Low
0    12/29/2023    $353.96  14987090   $358.99    $360.00    $351.82
1    12/28/2023    $358.32  11798810   $359.70    $361.90    $357.81
2    12/27/2023    $357.83  13207930   $356.07    $359.00    $355.31
3    12/26/2023    $354.83   9898614   $354.99    $356.98    $353.45
4    12/22/2023    $353.39  11772780   $355.58  $357.1999    $351.22
..          ...        ...       ...       ...        ...        ...
496  01/07/2022    $331.79  14722020   $332.74    $337.00  $328.8801
497  01/06/2022    $332.46  27962810   $322.82   $339.165    $322.72
498  01/05/2022    $324.17  20564520   $333.02    $335.76    $323.84
499  01/04/2022    $336.53  15997970   $339.95  $343.0854  $331.8711
500  01/03/2022    $338.54  14562850  $338.295  $341.0816    $337.19

[501 rows x 6 columns]

In [5]:
ebay_df = pd.read_csv('./data/ebay5yr.csv')
ebay_trim = ebay_df.iloc[:-691]
ebay_2yr = ebay_trim.iloc[66:]
ebay_2yr.reset_index(drop = True, inplace = True)
ebay_2yr

           Date Close/Last   Volume     Open      High      Low
0    12/29/2023     $43.62  4681777   $43.42    $43.82   $43.36
1    12/28/2023     $43.47  2767636   $43.37   $43.595  $43.115
2    12/27/2023     $43.38  2623182   $43.52  $43.6603   $43.10
3    12/26/2023     $43.48  3361211   $43.82    $43.84  $43.255
4    12/22/2023     $43.82  3330266   $43.56  $44.0699   $43.45
..          ...        ...      ...      ...       ...      ...
496  01/07/2022     $66.32  5000956   $66.73    $67.33   $66.28
497  01/06/2022     $66.81  8218382  $64.135    $67.49   $64.08
498  01/05/2022     $64.49  7440725   $64.87    $66.27   $64.46
499  01/04/2022     $65.14  7527336   $67.17    $67.42   $64.44
500  01/03/2022     $66.80  6685654   $66.45  $67.1169   $65.66

[501 rows x 6 columns]

In [6]:
lenovo_df = pd.read_csv('./data/lnvgy5yr.csv')
lenovo_trim = lenovo_df.iloc[:-691]
lenovo_2yr = lenovo_trim.iloc[66:]
lenovo_2yr.reset_index(drop=True, inplace = True)
lenovo_2yr

           Date Close/Last  Volume    Open     High     Low
0    12/29/2023     $27.97   34292  $28.79   $28.79  $27.82
1    12/28/2023     $27.94   27517  $27.76   $27.99  $27.76
2    12/27/2023     $27.39   35069  $26.90   $27.39  $26.79
3    12/26/2023     $26.59   44109  $25.86   $26.59  $25.86
4    12/22/2023     $26.48   53440  $26.40   $26.48  $26.35
..          ...        ...     ...     ...      ...     ...
496  01/07/2022     $23.18   12661  $23.00   $23.18  $22.98
497  01/06/2022     $22.89   16968  $22.18   $23.05  $22.18
498  01/05/2022     $23.10  102716  $22.97   $23.23  $22.97
499  01/04/2022     $22.90   27268  $22.83  $23.005  $22.79
500  01/03/2022     $23.26   46417  $23.51   $23.51  $22.63

[501 rows x 6 columns]